// scss-lint:disable indentation
$page-background: #e0e0e0;
$page-font: #000;
$main-content-background: #fff;
$main-content-border: #c6c6c6;

body {
	background: $page-background;
	color: $page-font;
	display: grid;
	grid-gap: 5px;
	grid-template-areas: '. . .' '. content .' '... footer ...';
	grid-template-columns: 2.5fr 7fr 2.5fr;
	grid-template-rows: 1fr minmax(50px, 2fr) 1fr;
}

@media only screen and (min-width: 600px) {
	body {
		grid-template-areas: '. . .' '. content .' 'footer footer footer';
		grid-template-rows: 1fr minmax(150px, 2.5fr) 1fr;
	}
}

@media only screen and (min-width: 1000px) {
	body {
		grid-template-rows: 1fr minmax(150px, 3fr) 1fr;
	}
}

html,
body {
	margin: 0;
	min-height: 100vh;
	padding: 0;
	width: 100vw;
}

main {
	background: $main-content-background;
	border: 1px solid $main-content-border;
	grid-area: content;
	padding: 2vw;

	h1 {
		font-size: 4vw;
		margin: 0 0 .75em;
		text-align: center;
  }

	.result {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}

	.kakapo-pic {
		flex-grow: 1;
		min-width: 250px;
		text-align: center;

		img {
			border-radius: 50%;
			height: 20vw;
			max-height: 250px;
    }
  }

	.count {
		flex-grow: 1;
		font-size: 2vw;
		font-weight: bold;
		padding: 1vw;
		text-align: center;
	}
}

footer {
	display: flex;
	grid-area: footer;
	padding: 5px 10px;

	small {
		margin: 0 0 0 auto;
	}
}

@media only screen and (min-width: 600px) {
	footer {
		small {
			margin: auto 0 0 auto;
		}
	}
}
