<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>How many k&#257;k&#257;p&#333; are there?</title>
	<meta name="description" content="Find out the current population numbers of kakapo"/>
	<meta property="og:title" content="How many k&#257;k&#257;p&#333; are there?" />
	<meta property="og:description" content="Track the population numbers of k&#257;k&#257;p&#333;" />
	<meta property="og:image" content="img/kaka_200x200.png" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>

	<script type="application/ld+json">
		{
			"@context" : "http://schema.org",
			"@type" : "Article",
			"headline": "How many kakapo are there?",
			"url" : "http://howmanykakapo.com",
			"name" : "How many kakapo are there? Track the population numbers of New Zealand's flightless bird",
			"image" : {
				"@type" : "ImageObject",
				"url" : "http://howmanykakapo.com/img/kaka_200x200.png",
				"height": "250",
				"width": "250"
			}
		}
	</script>
</head>
<body>

	<main>
		Loading
    </main>
    <footer>
        <small>
            &copy; Copyright 2017. All Rights Reserved.
        </small>
    </footer>
</body>
</html>
