<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>How many k&#257;k&#257;p&#333; are there?</title>
	<meta name="description" content="Track the population numbersof k&#257;k&#257;p&#333;"/>
</head>
<body>
	<main>
        <header>
            <h1>How many k&#257;k&#257;p&#333; are there?</h1>
        </header>
        <div class="result">

            <div class="kakapo-pic">
				<img src="${require('./img/icon.png')}" alt="">
            </div>
            <div class="count">
                <div>
                    Current population: 153
                </div>
                <div>
                    Annual change: -1
                </div>
                <div>
                    Last updated: 25/07/17
                </div>
            </div>
        </div>
    </main>
    <footer>
        <small>
            &copy; Copyright 2017. All Rights Reserved.
        </small>
    </footer>

</body>
</html>
