<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>How many k&#257;k&#257;p&#333; are there?</title>
	<meta name="description" content="Track the population numbersof k&#257;k&#257;p&#333;"/>
</head>
<body>
	<main>
        <header>
            <h1>How many k&#257;k&#257;p&#333; are there?</h1>
        </header>
        <div class="result">

			<figure class="kakapo-pic">
				<img src="${require('./img/kaka_200x200.png')}" alt="Photo of Sirocco">
				<figcaption>
					Published by
					<a href="https://www.flickr.com/people/40456023@N03">
						Department of Conservation
					</a>
					<small>
						<a rel="license" href="https://creativecommons.org/licenses/by/2.0/">
							Creative Commons 2.0
						</a>
					</small>
				</figcaption>
            </figure>
            <div class="count">
                <h2>
                    Current population: <span class="bold">153</span>
                </h2>
                <h3>
                    Annual change: <span class="bold">-1</span>
                </h3>
                <h3>
                    Last change: <span class="bold">25/07/17</span>
                </h3>
            </div>
        </div>
    </main>
    <footer>
        <small>
            &copy; Copyright 2017. All Rights Reserved.
        </small>
    </footer>

</body>
</html>
